<div class="container-sm">
  <h2>Ultimas Limpieza</h2>
  <br />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Semilla</th>
        <th scope="col">Entrada</th>
        <th scope="col">Kilos Buenos</th>
        <th scope="col">Kilos Repaso</th>
        <th scope="col">Basura</th>
        <th scope="col">Silo Destino</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Rye Grass</td>
        <td>30000</td>
        <td>24000</td>
        <td>4000</td>
        <td>2000</td>
        <td>Silo 1</td>
      </tr>
      <tr>
        <td>Rye Grass</td>
        <td>30000</td>
        <td>24000</td>
        <td>4000</td>
        <td>2000</td>
        <td>Silo 1</td>
      </tr>
      <tr>
        <td>Rye Grass</td>
        <td>30000</td>
        <td>24000</td>
        <td>4000</td>
        <td>2000</td>
        <td>Silo 1</td>
      </tr>
      <tr>
        <td>Rye Grass</td>
        <td>30000</td>
        <td>24000</td>
        <td>4000</td>
        <td>2000</td>
        <td>Silo 1</td>
      </tr>
    </tbody>
  </table>
</div>